header {
  margin-top: 25px;
  margin-bottom: 10px;
  border-bottom: 1px solid #E7E7E7;
}

header p {
  clear: right;
  float: right;
}

nav {
  float: right;
  margin-left: 5em;
}

h2 {
  margin-bottom: 10px;
}

p.conditions { /* XXX: bad class name */
  overflow: auto;
}

tr.details td {
  border-top: none;
  padding-top: 0;
  white-space: pre;
}

.kalendae a:hover {
  text-decoration: none;
}
