{% extends "layout.html" %}

{% block body %}
<div class="row">
  <div class="span8">
    <h2>Aktuelle Termine</h2>
    <div class="well">
      <table class="table">
        <thead>
          <tr>
            <th>Speise</th>
            <th>Datum</th>
            <th>Anmeldungen
            <th>davon vegetarisch</th>
            <th>Aktion</th>
          </tr>
        </thead>
        <tbody>
          {% for event in events %}
          <tr id="event_{{ event.id }}">
            <td data-popover-title="Teilnehmer" data-popover-content="{{ event.bookings|join(', ')|default('Es haben sich noch keine Teilnehmer angemeldet', true) }}">
              <a href="#">{{ event.title }}</a>
            </td>
            <td>{{ event.date|format_date(True) }}</td>
            <td>{{ event.bookings|length }}</td>
            <td>{{ event.vegetarians|length if event.vegetarian else "N/A" }}</td>
            <td>
              <form method="post" action="{{ url_for("delete_event", event_id=event.id) }}">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" class="btn btn-danger" value="Löschen">
              </form>
            </td>
          </tr>
          <tr class="details">
            <td colspan="4">{{ event.details }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="span4">
    {% include "create_event.html" %}
  </div>
</div>
{% endblock %}
