<h2>Editiere Termin</h2>

<form method="post" action="{{ url_for("save_edit_event", page=1, event_id=e_id) }}" class="well">
  <input type="hidden" name="id" value="{{ new_event.id }}">
  <label>Speise<input type="text" name="title" value="{{ new_event.title }}"></label>
  <label>Details<textarea name="details">{{ new_event.details }}</textarea></label>
  <label>Datum<input type="text" name="date" value="{{ new_event.date }}" class="auto-kal"></label>
  <label>Slots<input type="number" name="slots" min="1" value="{{ new_event.slots }}"></label>
  <label>
    <input type="checkbox" name="vegetarian">
    auch vegetarisch
  </label>
  <input type="submit" class="btn btn-primary" value="Speichern">
</form>
