{% extends "layout.html" %}

{% block body %}
<div class="row">
  <div class="span8">
    <h2>Aktuelle Termine</h2>
    <div class="well">
      <table class="table">
        <thead>
          <tr>
            <th>Speise</th>
            <th>Datum</th>
            <th>Anmeldungen</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for event in events %}
          <tr>
            <td data-popover-title="Teilnehmer" data-popover-content="{{ event.bookings|join(', ')|default('Es haben sich noch keine Teilnehmer angemeldet', true) }}">
              <a href="#">{{ event.title }}</a>
            </td>
            <td>{{ event.date|format_date }}</td>
            <td>{{ event.bookings|length }}</td>
            <td>
              {% if g.current_user in event.bookings %}
              <form method="post" action="{{ url_for("handle_booking", event_id=event.id) }}">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" class="btn btn-danger" value="Stornieren">
              </form>
              {% elif event.slots == -1 or event.slots > event.bookings|length %}
              <form method="post" action="{{ url_for("handle_booking", event_id=event.id) }}">
                <input type="hidden" name="_method" value="put">
                <input type="submit" class="btn btn-success" value="Buchen">
              </form>
              {% else %}
              ausgebucht
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="span4">
    {% include "create_event.html" %}
  </div>
</div>
{% endblock %}
