<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>innoMittach</title>
  <link rel="shortcut icon" href="{{ url_for("static", filename="favicon.ico") }}">
  <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.min.css") }}">
  <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap-responsive.min.css") }}">
  <link rel="stylesheet" href="{{ url_for("static", filename="css/main.css") }}">
  <link rel="stylesheet" href="{{ url_for("static", filename="css/kalendae.css") }}">
</head>
<body>
  <div class="container">
    <header>
      <img src="{{ url_for("static", filename="images/logo.png") }}">
      <p>Mahlzeit, {{ g.current_user }}</p>
      <p>Mitarbeiter 3 €, Externe 5 €</p>
    </header>
    <nav>
        <a href="{{ url_for("report_bookings", start=g.last_month["start"], end=g.last_month["end"]) }}">
            Report ({{ g.last_month["name"] }})
        </a>
    </nav>
{% block alerts %}
    <p class="alert alert-info">
        Bei Fragen oder Anregungen wendet euch bitte an
        <a href="mailto:anja.angermann@innoq.com">Anja</a>
    </p>
    <p class="alert alert-info">
        Bitte meldet euch verbindlich bis Freitag um 24 Uhr für die darauf
        folgende Woche an: nach dieser Zahl wird Anja Ihre Einkäufe tätigen.
        Wenn durch Krankheit oder Kundentermine das Essen nicht in Anspruch
        genommen werden kann, sollte möglichst kurzfristig, spätestens jedoch am
        Vortag, storniert werden. Die dadurch frei gewordenen Essen können dann
        an Interessenten "weitergegeben" werden.
    </p>
{% endblock %}

    {% for category, message in get_flashed_messages(true) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
  </div>

  <script src="{{ url_for("static", filename="js/jquery.min.js") }}"></script>
  <script src="{{ url_for("static", filename="js/bootstrap.min.js") }}"></script>
  <script src="{{ url_for("static", filename="js/kalendae.min.js") }}"></script>
  <script src="{{ url_for("static", filename="js/application.js") }}"></script>
</body>
</html>
